form {
    display: flex;
    flex-flow: column;
    button {
        width: 150px;
    }
    .input-cont {
        // display: flex;
        // flex-flow: column;
        margin-bottom: 15px;
        & > label {
            margin-right: 20px;
        }
    }
    .form-input {
        width: auto;
    }
    button:disabled {
        background-color: #77c7d3;
        border-color: #77c7d3;
        cursor: not-allowed;
    }
}

.alert-box.success, .alert-box.error {
    width: 500px;
}

