<div>
  <div class="container">
    <h1>Dodaj nowe zwierzę </h1>

    <form #animalForm="ngForm" (ngSubmit)="onSubmit(animalForm)" class="form">

      <div class="input-cont">
        <label>Imię*</label>
        <div class="form-input">
          <input #name="ngModel" type="text" ngModel name="name" required>
          <label></label>
        </div>
      </div>

      <div class="input-cont">
      <label>Numer rejestru*</label>
        <div class="form-input">
          <input #registry_number="ngModel" type="number" ngModel name="registry_number" required>
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Numer tatuażu</label>
        <div class="form-input">
          <input #tatoo_id="ngModel" type="text" ngModel name="tatoo_id">
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Mikroczip</label>
        <div class="form-input">
          <input #microchip="ngModel" type="text" ngModel name="microchip">
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Gatunek</label>
        <div class="form-input">
          <select #species="ngModel" ngModel name="species">
            <option value="dog" selected>Pies</option>
            <option value="cat">Kot</option>
          </select>
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Stan</label>
        <div class="form-input">
          <select #state="ngModel" ngModel name="state">
            <option value="for_adopt" selected>Do adopcji</option>
            <option value="adopted">Adoptowany</option>
            <option value="dead">Zmarły</option>
          </select>
          <label></label>
        </div>
      </div>
      
      <div class="input-cont">
        <label>Do adopcji?</label>
        <div class="form-input">
          <input #for_adoption="ngModel" type="radio" id="for_adoption_true" ngModel name="for_adoption" value=true>
          <label for="for_adoption_true"> Tak</label>
        </div>
        <div class="form-input">
          <input #for_adoption="ngModel" type="radio" id="for_adoption_false" ngModel name="for_adoption" value=false> 
          <label for="for_adoption_false">Nie</label>
        </div>
      </div>

      <div class="input-cont">
        <label>Test felv</label>
        <div class="form-input">
          <input #felv_test="ngModel" type="radio" id="felv_true" ngModel name="felv_test" value=true> 
          <label for="felv_true"> Pozytywny</label>
        </div>
        <div class="form-input">
          <input #felv_test="ngModel" type="radio" id="felv_false" ngModel name="felv_test" value=false>
          <label for="felv_false"> Negatywny</label>
        </div>
      </div>

      <div class="input-cont">
        <label>Wiek</label>
        <div class="form-input">
          <input #age="ngModel" type="number" ngModel name="age" min="0">
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Płeć</label>
        <div class="form-input">
          <select #gender="ngModel" ngModel name="gender">
            <option value="m" selected>Męska</option>
            <option value="f">Żeńska</option>
          </select>
          <label></label>
        </div>
      </div>
      
      <div class="input-cont">
        <label>Rozmiar</label>
        <div class="form-input">
          <select #size="ngModel" ngModel name="size">
            <option value="small">Mały</option>
            <option value="medium">Duży</option>
            <option value="big">Średni</option>
          </select>
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Data przyjęcia</label>
        <div class="form-input">
          <input #enter_date="ngModel" type="date" ngModel name="enter_date" id="date_enter">
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Data opuszczenia</label>
        <div class="form-input">
          <input #leave_date="ngModel" type="date" ngModel name="leave_date" id="date_leave">
          <label></label>
        </div>
      </div>

      <div class="input-cont">
        <label>Podczas kwarantanny?</label>
        <div class="form-input">
          <input #quarantine="ngModel" type="radio" id="quarantine_true" ngModel name="quarantine" value=true> 
          <label for="quarantine_true">Tak</label>
        </div>
        <div class="form-input">
          <input #quarantine="ngModel" type="radio" id="quarantine_false" ngModel name="quarantine" value=false> 
          <label for="quarantine_false">Nie </label>
        </div>
      </div>

      <div class="input-cont">
        <label>Opis</label>
        <div class="form-input">
          <textarea #description="ngModel" type="text" ngModel name="description"></textarea>
          <label for=""></label>
        </div>
      </div>

      <input (change)="onChange($event)" #image="ngModel" name="image" ngModel type="file" accept="image/*">

      <div *ngIf="isSuccess" class="alert-box success">Poprawnie dodano zwierzę! Chcesz dodać następnego?</div>
      <div *ngIf="!isSuccess && wasSend" class="alert-box error">Nie udało się dodać zwierzęcia</div>
      
      <button type="submit" [disabled]="(!animalForm.form.valid && animalForm.touched) || !animalForm.touched || disableSubmit" class="button info">Submit</button>
    </form>

  </div>
</div>