<div>
  <h1>Wiadomości</h1>

  <h4>Nieodebrane wiadomości</h4>

  <div>
    <div>
      <table *ngIf="messages; else no_data " class="table f-column-border row-colored">
          <thead>
            <tr>
              <td>#</td>
              <td>Imię</td>
              <td>Email</td>
              <td>Telefon</td>
              <td>Wiadomość</td>
              <td>Data wysłania</td>
              <td>Przypisz</td>
              <td>Zwierzę</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages; let i = index;">
              <td>{{i+1}}</td>
              <td>{{message.user_name}}</td>
              <td>{{message.user_mail}}</td>
              <td>{{message.user_phone}}</td>
              <td>{{message.message_content}}</td>
              <td>{{message.date_send | date: 'shortDate'}}</td>
              <td>
                <button (click)="claimMessage(message.message_id)" class="button edit">
                    Przypisz do siebie
                </button>
              </td>
              <td>
                <button [routerLink]="['/manage/animals/', message.shelter_id, message.animal_id ]" class="button edit">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>              
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <h4>Twoje wiadomości</h4>

  <div *ngIf="userMessages; else no_data">
    <table class="table f-column-border row-colored">
      <thead>
        <tr>
          <td>#</td>
          <td>Imię</td>
          <td>Email</td>
          <td>Telefon</td>
          <td>Wiadomość</td>
          <td>Data wysłania</td>
          <td>Komentarz</td>
          <td>Data zakończenia</td>
          <td>Edytuj</td>
          <td>Zwierzę</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of userMessages; let i = index;">
          <td>{{i+1}}</td>
          <td>{{message.user_name}}</td>
          <td>{{message.user_mail}}</td>
          <td>{{message.user_phone}}</td>
          <td>{{message.message_content}}</td>
          <td>{{message.date_send | date: 'shortDate'}}</td>
          <td>{{message.comment}}</td>
          <td>{{message.date_end | date: 'shortDate'}}</td>
          <td>
            <button (click)="editMessageClick(message.message_id)" class="button edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button [routerLink]="['/manage/animals/', message.shelter_id, message.animal_id ]" class="button edit">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <form *ngIf="showEditMessage" #messageForm="ngForm" (ngSubmit)="submitMessageEdit(messageForm)" class="form">
      <h5>
        Edytuj wiadomość od {{currentMessage.user_name}} z dnia {{currentMessage.date_send | date: 'shortDate'}}
        <button (click)="showEditMessage = false" class="button edit close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </h5>

      <div class="input-cont container">
        <div class="row vert-center">
          <label class="col-4">Data zakończenia sprawy</label>
          <div class="form-input col-2">
            <input attr.placeholder="{{currentMessage.date_end}}" #date_end="ngModel" type="date" ngModel name="date_end">
            <label></label>
          </div>
        </div>
      </div>

      <div class="input-cont container">
        <div class="row vert-center">
          <label class="col-4">Komentarz</label>
          <div class="form-input col-2">
            <textarea attr.placeholder="{{currentMessage.comment}}" #comment="ngModel" type="text" ngModel name="comment"></textarea>
            <label></label>
          </div>
        </div>

        <button type="submit" class="button info">
          Wyślij
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin && allMessages">
    <h4>Wszystkie wiadomości</h4>
    <table class="table f-column-border row-colored">
      <thead>
        <tr>
          <td>#</td>
          <td>Imię</td>
          <td>Email</td>
          <td>Telefon</td>
          <td>Wiadomość</td>
          <td>Data wysłania</td>
          <td>Komentarz</td>
          <td>Data zakończenia</td>
          <td>Id użytkownika</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of allMessages; let i = index;">
          <td>{{i+1}}</td>
          <td>{{message.user_name}}</td>
          <td>{{message.user_mail}}</td>
          <td>{{message.user_phone}}</td>
          <td>{{message.message_content}}</td>
          <td>{{message.date_send | date: 'shortDate'}}</td>
          <td>{{message.comment}}</td>
          <td>{{message.date_end | date: 'shortDate'}}</td>
          <td>{{message.user_id}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>



<ng-template #no_data>
  Brak wiadomości
</ng-template>