<form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)"  class="form">

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Imię: *</label>
        <div class="form-input col-3">
          <input #user_name="ngModel" type="text" ngModel name="user_name" required>
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Email: *</label>
        <div class="form-input col-3">
          <input #user_mail="ngModel" type="text" ngModel name="user_mail" >
          <label></label>
        </div>
      </div>
    </div>

    <p>lub</p>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Telefon: *</label>
        <div class="form-input col-3">
          <input #user_phone="ngModel" type="text" ngModel name="user_phone" >
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Wiadomość:</label>
        <div class="form-input col-3">
          <textarea #message_content="ngModel" type="text" ngModel name="message_content" required></textarea>
          <label for=""></label>
        </div>
      </div>
    </div>

    <div *ngIf="isSuccess" class="alert-box success">Wiadomość została wysłana! Ktoś ze schroniska skontaktuje się z Tobą.</div>
    <div *ngIf="!isSuccess && wasSend" class="alert-box error">Nie udało się wysłać wiadomości, spróbuj jeszcze raz.</div>

    <button 
      [disabled]=" (!messageForm.form.valid && messageForm.touched) || !messageForm.touched || disableSubmit || (!user_phone.value && !user_mail.value)"
      type="submit" class="button info"> Wyślij</button>

</form>