.blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-color: $button-default;
  border-left-width: 2px;

  p {
    font-size: 1.5em;
    line-height: 1.5;
    font-style: italic;
  }
  cite { font-style: italic; }
  footer {
    opacity: 0.75;
    &:before {
      content: "–";
      padding-right: .5em;
    }
  }
  &.align-right {
    text-align: right;
    border-left-width: 0;
    border-right-width: 2px;
  }
}