$pre-bg: #f6f8fa;
$grid-lines: none;
$grid-lines: linear-gradient(to bottom, rgba(0,170,255,.03) 1px, transparent 1px),
             linear-gradient(to bottom, rgba(0,170,255,.015) 1px, transparent 1px);

body.grid {
  background-size: 100% 1.5em, 100% 0.75rem;
  background-image: $grid-lines;
  background-position: left top;
  background-repeat: repeat;
}

.docs {
  code {
    background: $pre-bg;
    font-family: Courier, monospace;
    font-size: 0.875rem;
  }

  pre {
    display: block;
    margin: 1.125rem 0;
    padding: 1.125rem;
    background: $pre-bg;
    line-height: $line-height-default * 1;
  }

  // pre + p {
  //   border: $border-default;
  //   border-size: 1px 1px 1px 0px;
  // }

  h2[id]:not([id="h2"]) {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-top: 50px;
  }

  ul { list-style: initial; padding-left: 30px; }

  img[title="Logo"] {
    display: block;
    width: 400px;
    margin: 50px auto 20px auto;

    @media (max-width: 500px) { width: 80%; }
  }
  img[title="TextLogo"] {
    display: block;
    width: 250px;
    margin: 10px auto;
  }



  .container { margin: 30px 0px; }

  .header-bar {
    &_left {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .text-logo {
        width: 65px;
        fill: $brand-color;
        transition: .3s;
      }
      span {
        font-size: 24px;
        color: black;
        font-weight: 300;
        padding-left: 10px;
      }
    }

    background: white;
    color: $font-color-light;
    padding: 0 1em;
    font-weight: 600;
    border: 0;

    .theme-toggle-container {
      margin-left: auto;
      display: flex;
      padding: 0px 15px;
      span {
        font-weight: 300;
        padding-right: 8px;
      }
    }
    .scrolled & {
      background-color: $brand-color;
      box-shadow: 0 2px 4px rgba(black, .15);
      span { color: $header-color-light; }
      .text-logo { width: 45px; fill: white; }
    }

    .button { font-size: 12px; padding-left: 0.5em; padding-right: 0.5em; }
  }

  .menu {
    nav {
      position: fixed;
      top: 70px;
      width: 200px;
      transition: top .3s;
      .scrolled & { top: 58px; }

      .active + ul { display: block; }

      ul {
        list-style: none;
        padding-left: 0;
        background: white;

        li { margin: 1px 0; }
        a {
          display: block;
          width: 100%;
          padding: 7px 15px;
          border-radius: 0 3px 3px 0;
          border-left: 3px solid transparent;
          background: white;
          font-size: 0.75em;
          font-weight: 300;
          transition: .3s;
          &:hover, &.active {
            text-decoration: none;
            color: lighten($brand-color, 10%);
            background-color: $bg-sec;
          }
          &.active { border-left: 3px solid rgba($brand-color-sec, 1); }
        }
      }

      > ul {
        margin-right: 15px;
        padding: 5px;
        border: $border-default;
        border-radius: 3px;
        line-height: 1.2;
        box-shadow: 0 2px 4px rgba(0,0,0,.05);

        ul {
          display: none;
          margin-left: 15px;
          li a { line-height: 1; padding: 3px 15px;  }
        }
      }
    }
    @media (max-width: 1000px) { display: none; }
  }

  .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
    padding-bottom: 100px;

    @media (max-width: 1000px) {
      width: 100%;
      padding: 0 10px 100px 10px;
    }
  }

  .grid-sample {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-fixed, .auto
    {
      background-color: rgba(0,170,255,.05);
      border: 1px solid rgba(100,200,255, .3);
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
    }
    &.container {
      margin: 30px 0px;
      background-color: $bg-sec;
    }
    .row {
      border: 1px solid #D2DBE3;
    }

    .with-padding {
      div[class^="col-"] > div:not([class]) {
        width: 100%; height: 100%; background: rgba(white, .75);
      }
    }
  }

  .color {
    padding-left: 70px;
    padding-top: 5px;
    height: 70px;
    position: relative;
    &:before { content: ""; display: block; width: 50px; height:50px; background: #ccc; position: absolute; left: 10px; top: 10px; border-radius: 50%; }
    .rgb, .hex { font-size: 0.9em; color: $font-color-sec; line-height: 1; }

    &.brand:before { background: $brand-color; }
    &.brand-dark:before { background: $brand-color-dark; }
    &.brand-sec:before { background: $brand-color-sec; }
    &.font:before { background: $font-color-main; }
    &.font-sec:before { background: $font-color-sec; }
    &.font-light:before { background: $font-color-light; }
    &.bg:before { background: $bg-default; }
    &.bg-sec:before { background: $bg-sec; }
    &.bg-dark:before { background: $bg-dark; }
    &.err:before { background: $err-color; }
    &.warn:before { background: $warn-color; }
    &.info:before { background: $info-color; }
    &.succ:before { background: $succ-color; }
  }

  .alert-wrapper {
    width: 100%;
    margin: 15px 0;
  }

  .dark-theme {
    padding: 15px;
  }

  p.second {
    color: $font-color-sec;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
   .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: #E1E3E6;
    transition: .4s;
    &:before {
      position: absolute;
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      content: "";
      background: #FFF;
      transition: .4s;
    }
  }
  #theme-toggle { display: none; }
  #theme-toggle:checked ~ .slider:before {
    transform: translateX(20px);
  }
  #theme-toggle:checked ~ .slider {
    background-color: #141720;
  }
}

.dark-theme {
  color: $font-color-light;
  background-color: $bg-dark;

  h1,h2,h3,h3,h4,h5,h6 { color: $header-color-light; }

  h2[id]:not([id="h2"]) {
    border-bottom: 1px solid #263248;
  }
  button.button {
    &.bordered {
      color: $font-color-light;
    }
  }
  p.second { color: $font-color-light-sec; }
  .grid-sample {
    color: $font-color-main;
  }
}