$fff: "Roboto";

@mixin new-font($name, $path, $weight: normal, $style: normal) {
  @font-face {
  font-family: $name;
  src: url("/assets/fonts/"+ $fff + "-" + $path + ".ttf");
  font-weight: $weight;
  font-style: $style; }
}

@include new-font($fff, "Regular");
@include new-font($fff, "Italic", normal, italic);
@include new-font($fff, "Thin", 100);
@include new-font($fff, "ThinItalic", 300, italic);
@include new-font($fff, "Light", 300);
@include new-font($fff, "LightItalic", 300, italic);
@include new-font($fff, "Medium", 500);
@include new-font($fff, "MediumItalic", 500, italic);
@include new-font($fff, "Bold", 700);
@include new-font($fff, "BoldItalic", 700, italic);