@mixin alert-bg-and-icon($icon, $color) {
  border-color: ($color);
  &:after {
    font-family: FontAwesome;
    font-size: 1.2em;
    content: $icon;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    color: white;
    width: 40px;
    text-align: center;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: $color;
  }
}

.alert-box {
  font-size: 0.75rem;
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  margin: 10px 0;
  padding: .5em 50px;
  border: 2px solid $alert-default;
  box-shadow: 0 2px 4px 0 rgba(black, 0.05);
  color: $font-color-main;
  text-align: center;
  transition: box-shadow 0.3s;

  &:hover { box-shadow: 0 2px 6px 2px rgba(black, 0.1); }

  &.error {  @include alert-bg-and-icon("\f12a", $err-color); }
  &.info { @include alert-bg-and-icon("\f129", $info-color); }
  &.warn { @include alert-bg-and-icon("\f071", $warn-color); }
  &.success { @include alert-bg-and-icon("\f00c", $succ-color); }

  .close { color: $font-color-main; }
}