

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: $header-color;
}


h1 {
  font-size: 3rem;
  padding-top: 1.5rem;
  font-weight: 100;
  padding-bottom: $padding-bottom-default;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.375;
  padding-top: .75rem;
  padding-bottom: 0.75rem;
  font-weight: 300;

}
h3 {
  font-size: 1.75em;
  line-height: 1.25;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
h4 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  color: lighten($header-color, 10%);
}

p {
  padding-top: .3625em ;
  padding-bottom: .3625em;
}