
  $font-family: "Roboto, Arial, sans-serif";
  $font-size-default: 16px;
  $line-height-default: 1.5;

  $font-color-main: #131A1E;
  $font-color-sec: #767676;
  $font-color-light: #c4c8d5;
  $font-color-light-sec: #536a7c;
  $header-color: #092836;
  $header-color-light: #50cfef;

  $brand-color: #263248;
  $brand-color-dark: #131A1E;
  $brand-color-sec: #FF9800;

  $err-color: #D4343F;
  $warn-color: #FFD24E;
  $info-color: #39C8DE;
  $succ-color: #65D776;

  $bg-default: #e1e3e6;
  $bg-sec: #F9F9F9;
  $bg-dark: #141720;

  $button-default: #D4DDE5;
  $alert-default: #D4DDE5;

  $border-default: px solid #eee;



