<div class="container">
  <div class="login-container">
    <h1><span class="subtitle"><strong>Shelter</strong> Management</span></h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <h2>Logowanie</h2>
      <div class="form-group">
        <label for="user_name">Nazwa użytkownika</label>
        <input #user_name="ngModel" ngModel name="user_name" type="text">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input #password="ngModel" ngModel name="password" type="password">
      </div>
      <button class="button info" type="submit">Wyślij</button>
      <div *ngIf="wasError" class="alert-box warn">Nie udało się zalogować</div>
    </form>
  </div>
</div>