.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    margin-top: 80px;
    h1 {
        span {
            strong {
                font-weight: 400;
                color: #50cfef;
            }
        }
    }
    form {
        display: flex;
        flex-flow: column;
        align-items: center;
        background: #F6F8FA;
        border-radius: 20px;
        padding: 30px 0px;
        .form-group {
            display: flex;
            flex-flow: column;
            input {
                width: 300px;
                margin-bottom: 8px;
                height: 25px;
                border-radius: 20px;
                border: 2px solid #E0E3E7;
                padding: 3px 10px;
                font-family: "Roboto";
            }
        }
        button {
            width: 100px;
            font-weight: 400;
            font-family: "Roboto";
        }
    }
}