<div *ngIf="!animal">
  Brak takiego zwierzęcia
</div>

<div *ngIf="animal" class="animal">
  <div *ngIf="!showNameEdit" class="header">
    <h2>{{animal.name}}</h2>
    <button (click)="showNameEdit=!showNameEdit" class="button edit">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="showNameEdit" class="name-edit">

    <form #nameForm="ngForm" (ngSubmit)="onSubmit(nameForm)" class="form">
      <div class="input-cont">
        <label>Imię</label>
        <div class="form-input">
          <input attr.placeholder="{{animal.name}}" #name="ngModel" type="text" ngModel name="name" required>
          <label></label>
        </div>
      </div>
      <button type="submit" [disabled]="(!nameForm.form.valid && nameForm.touched) || !nameForm.touched || disableSubmit" class="button info">Wyślij</button>
    </form>
    
    <button (click)="showNameEdit=!showNameEdit" class="button edit">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>

  </div>

  <div class="main-info">
    <div class= "photo">
        <img attr.src="{{imgUrl}}"/>
    </div>
    <div class="main-info-text-container">
      <div class="main-info-header">
        <h4>
          Podstawowe informacje
          <button  class="button edit" (click)="showInfoEditForm=!showInfoEditForm;">
              <i *ngIf="!showInfoEditForm" class="fa fa-pencil" aria-hidden="true"></i>
              <i *ngIf="showInfoEditForm" class="fa fa-close" aria-hidden="true"></i>
          </button>
        </h4>
        
      </div>
      <div *ngIf="!showInfoEditForm" class="info">
        <div class="info-row"><p>Numer rejestru: </p> {{animal.registry_number}}</div>
        <div class="info-row"><p>Numer tatuażu: </p> {{animal.tatoo_id}}</div>
        <div class="info-row"><p>Microchip: </p> {{animal.microchip}}</div>
        <div class="info-row"><p>Stan: </p> {{animal.state | animalState}}</div>
      </div>

      <div *ngIf="showInfoEditForm" class="info-form">
        <form  #infoForm="ngForm" (ngSubmit)="onSubmit(infoForm)" class="form container">

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-4">Numer rejestru</label>
              <div class="form-input col-4">
                <input attr.placeholder="{{animal.registry_number}}" #registry_number="ngModel" type="number" ngModel name="registry_number">
                <label></label>
              </div>
            </div>
          </div>
      
          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-4">Numer tatuażu</label>
              <div class="form-input col-4">
                <input attr.placeholder="{{animal.tatoo_id}}" #tatoo_id="ngModel" type="text" ngModel name="tatoo_id">
                <label></label>
              </div>
            </div>
          </div>
      
          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-4">Mikroczip</label>
              <div class="form-input col-4">
                <input attr.placeholder="{{animal.microchip}}" #microchip="ngModel" type="text" ngModel name="microchip">
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-4">Stan</label>
              <div class="form-input col-4">
                <select #state="ngModel" ngModel name="state">
                  <option value="for_adopt" selected>Do adopcji</option>
                  <option value="adopted">Zaadoptowany</option>
                  <option value="dead">Zmarły</option>
                </select>
                <label></label>
              </div>
            </div>
          </div>

          <button type="submit" class="button info" [disabled]="disableSubmit || (!infoForm.form.valid && infoForm.touched) || !infoForm.touched ">Wyślij</button>
        </form>
      </div>
    </div>

    <div class="documentation">
      <button (click)="onGetAnimalDocument()" class="button bordered">Generuj dokumenty do adopcji</button>
    </div>
  </div>

  <button *ngIf="imgUrl==='./src/assets/img/no-photo.svg' "  class="button edit photo-edit" (click)="showImgForm=!showImgForm;">
    <i *ngIf="!showImgForm" class="fa fa-file-image-o" aria-hidden="true"></i>
    <i *ngIf="showImgForm" class="fa fa-close" aria-hidden="true"></i>
  </button>

  <div *ngIf="showImgForm">
    <form class="photo-edit-form" #photoForm="ngForm" (ngSubmit)="onSubmitPhoto(photoForm)">
      <input (change)="onChange($event)" #image="ngModel" name="image" ngModel type="file" accept="image/*">
      <button type="submit" class="button info" [disabled]="disableSubmit || !image.value">Wyślij</button>
    </form>
  </div>

  <div class="other-info">
    <h4>
      Dodatkowe informacje
      <button  class="button edit" (click)="showFullForm=!showFullForm;">
        <i *ngIf="!showFullForm" class="fa fa-pencil" aria-hidden="true"></i>
        <i *ngIf="showFullForm" class="fa fa-close" aria-hidden="true"></i>
      </button>
    </h4>

    <table *ngIf="!showFullForm" class="table bordered row-colored f-column-border">

      <tbody>
        <tr><td>Typ</td><td>{{animal.species | animalType}}</td></tr>
        <tr><td>Wiek</td><td>{{animal.age}}</td></tr>
        <tr><td>Rozmiar</td><td>{{dict[animal.size]}}</td></tr>
        <tr><td>Płeć</td><td>{{dict[animal.gender]}}</td></tr>
        <tr><td>Data przyjęcia</td><td>{{animal.enter_date | date:'shortDate'}}</td></tr>
        <tr><td>Data opuszczenia</td><td>{{animal.leave_date | date:'shortDate'}}</td></tr>
        <tr *ngIf="animal.species==='cat'"><td>Test FeLV</td><td>{{animal. felv_test? "Pozytywny" : "Negatywny"}}</td></tr>
        <tr><td>Podczas kwarantanny</td><td>{{animal.quarantine? "Tak" : "Nie"}}</td></tr>
      </tbody>
    </table>
    
    <div *ngIf="showFullForm">
      <form #fullInfoForm="ngForm" (ngSubmit)="onSubmit(fullInfoForm)" class="form container other-info-form">

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Gatunek</label>
              <div class="form-input col-3">
                <select #species="ngModel" ngModel name="species">
                  <option value="dog" selected>Pies</option>
                  <option value="cat">Kot</option>
                </select>
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Wiek</label>
              <div class="form-input col-3">
                <input #age="ngModel" type="number" ngModel name="age" min="0">
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Rozmiar</label>
              <div class="form-input col-3">
                <select #size="ngModel" ngModel name="size">
                  <option value="small">Mały</option>
                  <option value="medium">Średni</option>
                  <option value="big">Duży</option>
                </select>
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Płeć</label>
              <div class="form-input col-3">
                <select #gender="ngModel" ngModel name="gender">
                  <option value="m" selected>Męska</option>
                  <option value="f">Żeńska</option>
                </select>
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Data przyjęcia</label>
              <div class="form-input col-3">
                <input #enter_date="ngModel" type="date" ngModel name="enter_date" id="date_enter">
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Data opuszczenia</label>
              <div class="form-input col-3">
                <input #leave_date="ngModel" type="date" ngModel name="leave_date" id="date_leave">
                <label></label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Test felv</label>
              <div class="form-input">
                <input #felv_test="ngModel" type="radio" id="felv_true" ngModel name="felv_test" value=true> 
                <label for="felv_true"> Pozytywny</label>
              </div>
              <div class="form-input">
                <input #felv_test="ngModel" type="radio" id="felv_false" ngModel name="felv_test" value=false>
                <label for="felv_false"> Negatywny</label>
              </div>
            </div>
          </div>

          <div class="input-cont">
            <div class="row vert-center">
              <label class="col-3">Podczas kwarantanny?</label>
              <div class="form-input">
                <input #quarantine="ngModel" type="radio" id="quarantine_true" ngModel name="quarantine" value=true> 
                <label for="quarantine_true">Tak</label>
              </div>
              <div class="form-input">
                <input #quarantine="ngModel" type="radio" id="quarantine_false" ngModel name="quarantine" value=false> 
                <label for="quarantine_false">Nie </label>
              </div>
            </div>
          </div>
          
          <button type="submit" class="button info" [disabled]="disableSubmit || (!fullInfoForm.form.valid && fullInfoForm.touched) || !fullInfoForm.touched ">Wyślij</button>
      </form>
    </div>
  </div>

  <div class="description">
    <h4>
      Opis
      <button  class="button edit" (click)="showDescForm=!showDescForm;">
        <i *ngIf="!showDescForm" class="fa fa-pencil" aria-hidden="true"></i>
        <i *ngIf="showDescForm" class="fa fa-close" aria-hidden="true"></i>
      </button>
    </h4>
    <p *ngIf="!showDescForm">{{animal.description}}</p>
    <div *ngIf="showDescForm">
      <form #descForm="ngForm" (ngSubmit)="onSubmit(descForm)" class="form">
        <div class="input-cont">
            <div class="form-input">
              <textarea #description="ngModel" type="text" [ngModel]="animal.description" name="description"></textarea>
              <label for=""></label>
            </div>
          </div>
          <button type="submit" class="button info" [disabled]="disableSubmit || (!descForm.form.valid && descForm.touched) ">Wyślij</button>
      </form>
    </div>
  </div>
  <h4>Przebyte leczenia</h4>
  <div class="treatment-container">
    <div class="treatment-info">
      <table *ngIf="treatments" class="table f-column-border row-colored">
        <thead>
          <tr><td>#</td><td>Nazwa choroby</td><td>Data leczenia</td><td>Nazwa leku</td><td>Następna kontrola</td><td>Nadal leczony</td><td></td></tr>
        </thead>
        <tbody>
          <tr *ngFor="let treat of treatments; let i = index;">
            <td>{{i+1}}</td>
            <td>{{treat.treat_name}}</td>
            <td>{{treat.treatment_date | date:'shortDate'}}</td>
            <td>{{treat.medicine}}</td>
            <td>{{treat.next_med | date:'shortDate'}}</td>
            <td>{{treat.is_treated? "Tak":"Nie"}}</td>
            <td>
              <button (click)="editTreatment(treat.treatment_id)" class="button edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <h5 *ngIf="showTreatForm">
          Dodaj nowe leczenie
          <button  (click)="showTreatForm = !showTreatForm;" class="button edit">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </h5>
        <treatment-form *ngIf="showTreatForm" [animalId]="animalId" (onFormSubmit)="onTreatFormSubmit($event)"></treatment-form>
        <div *ngIf="wasTreatError && wasTreatSend && showTreatForm" class="alert-box error">Nie udało się dodać szczepienia</div>
      </div>

      <button *ngIf="!showTreatForm" (click)="showTreatForm = !showTreatForm;" class="button info">
        <label>Dodaj leczenie</label>
      </button>
    </div>

    <div class="treat-edit" *ngIf="showTreatEdit">
      <h5>
        Edytuj leczenie {{currentTreat.name}}
        <button (click)="showTreatEdit=!showTreatEdit" class="button edit">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </h5>
      <form #treatmentForm="ngForm" (ngSubmit)="onSubmitTreat(treatmentForm)" class="form">

        <div class="input-cont container">
          <div class="row vert-center">
            <label class="col-4">Nazwa choroby</label>
            <div class="form-input col-2">
              <input attr.placeholder="{{currentTreat.treat_name}}" #treat_name="ngModel" type="text" ngModel name="treat_name">
              <label></label>
            </div>
          </div>
        </div>
      
        <div class="input-cont container">
          <div class="row vert-center">
            <label class="col-4">Data leczenia</label>
            <div class="form-input col-2">
              <input attr.placeholder="{{currentTreat.treatment_date}}" type="date" #treatment_date="ngModel" ngModel name="treatment_date" id="treatment_date">
              <label></label>
            </div>
          </div>
        </div>
      
        <div class="input-cont">
          <div class="row vert-center">
            <label class="col-4">Nazwa leku</label>
            <div class="form-input col-2">
              <input attr.placeholder="{{currentTreat.medicine}}" #medicine="ngModel" ngModel name="medicine" id="medicine">
              <label></label>
            </div>
          </div>
        </div>
  
        <div class="input-cont">
          <div class="row vert-center">
            <label class="col-4">Następna kontrola</label>
            <div class="form-input col-2">
              <input attr.placeholder="{{currentTreat.next_med}}" type="date" #next_med="ngModel" ngModel name="next_med" id="next_med">
              <label></label>
            </div>
          </div>
        </div>
  
        <div class="input-cont">
          <div class="row vert-center">
            <label class="col-4">Nadal leczony</label>
            <div class="form-input col-2">
              <div class="form-input">
                  <input #is_treated="ngModel" type="radio" id="is_treated_true" ngModel name="is_treated" value=true>
                  <label for="quarantine_true">Tak</label>
                </div>
                <div class="form-input">
                  <input #is_treated="ngModel" type="radio" id="is_treated_false" ngModel name="is_treated" value=false>
                  <label for="is_treated_false">Nie </label>
                </div>
            </div>
          </div>
        </div>
      
        <button [disabled]="disableSubmit || (!treatmentForm.form.valid && treatmentForm.touched) || !treatmentForm.touched" type="submit" class="button info">Zapisz</button>
      </form>

    </div>
  </div>


  <h4>Szczepienia</h4>
  <div class="vacc-container">
    <div class="vacc-info">
      <table *ngIf="vaccinations" class="table f-column-border row-colored">
        <thead>
          <tr><td>#</td><td>Nazwa szczepionki</td><td>Data szczepienia</td><td>Następne szczepienie</td><td></td></tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacc of vaccinations; let i = index;">
            <td>{{i+1}}</td>
            <td>{{vacc.vacc_name}}</td>
            <td>{{vacc.vacc_date | date:'shortDate'}}</td>
            <td>{{vacc.next_vacc | date:'shortDate'}}</td>
            <td>
              <button (click)="editVaccination(vacc.vacc_id)" class="button edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <h5 *ngIf="showVaccForm">
          Dodaj nowe szczepienie
          <button  (click)="showVaccForm = !showVaccForm;" class="button edit">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </h5>
        <vaccination-form *ngIf="showVaccForm" [animalId]="animalId" (onFormSubmit)="onVaccFormSubmit($event)"></vaccination-form>
        <div *ngIf="wasError && wasSend && showVaccForm" class="alert-box error">Nie udało się dodać szczepienia</div>
      </div>
      <button *ngIf="!showVaccForm" (click)="showVaccForm = !showVaccForm;" class="button info">
        <label >Dodaj szczepienie</label>
      </button>
    </div>
    <div class="vacc-edit" *ngIf="showVaccEdit">
      <h5>
        Edytuj szczepienie {{currentVacc.vacc_name}}
        <button (click)="showVaccEdit=!showVaccEdit" class="button edit">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </h5>
      <form #vaccinationForm="ngForm" (ngSubmit)="onSubmitVacc(vaccinationForm)" class="form">

        <div class="input-cont container">
          <div class="row vert-center">
            <label class="col-3">Nazwa szczepionki</label>
            <div class="form-input col-3">
              <input attr.placeholder="{{currentVacc.vacc_name}}" #vacc_name="ngModel" type="text" ngModel name="vacc_name">
              <label></label>
            </div>
          </div>
        </div>
      
        <div class="input-cont container">
          <div class="row vert-center">
            <label class="col-3">Data szczepienia</label>
            <div class="form-input col-3">
              <input attr.placeholder="{{currentVacc.vacc_date}}" type="date" #vacc_date="ngModel" ngModel name="vacc_date" id="vacc_date">
              <label></label>
            </div>
          </div>
        </div>
      
        <div class="input-cont">
          <div class="row vert-center">
            <label class="col-3">Następne szczepienie</label>
            <div class="form-input col-3">
              <input attr.placeholder="{{currentVacc.next_vacc}}" type="date" #next_vacc="ngModel" ngModel name="next_vacc" id="next_vacc">
              <label></label>
            </div>
          </div>
        </div>
      
        <button [disabled]="disableSubmit || (!vaccinationForm.form.valid && vaccinationForm.touched) || !vaccinationForm.touched " type="submit" class="button info">Zapisz</button>
      </form>
    </div>
  </div>

</div>

