.animal {
    .header {
        display: flex;
        align-items: center;
        h2 {
            margin-right: 20px;
        }
    }
    .name-edit {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        form {
            display: flex;
            align-items: center;
        }
        .button {
            margin-left: 20px;
        }
    }
    .main-info {
        display: flex;
        align-items: center;
        .photo {
            margin-right: 20px;
            img {
                width: 400px;
            }
        }
        .main-info-text-container {
            margin-left: 15px;
            .main-info-header {
                button {
                    margin-left: 15px;
                }
                h4 {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .info-form {
                width: 410px;
            }
        }
        .info {
            .info-row {
                display: flex;
                flex-flow: row;
                align-items: center;
                p {
                    margin-right: 8px;
                    font-weight: 500;
                    padding: 0px 0px 0px 20px;
                    color: rgba(85, 95, 117, 0.64);
                }
            }
        }
        .documentation {
            margin-left: auto;
        }
    }
    .button.photo-edit {
        position: absolute;
        top: 390px;
    }
    .photo-edit-form {
        display: flex;
        align-items: center;
    }
    .other-info {
        button {
            margin-left: 15px;
        }
        table td {
            max-width: none;
        }
    }
    .other-info-form {
        input {
            width: 100%;
            box-sizing: border-box;
        }
    }
    .description {
        button {
            margin-left: 15px;
        }
    }
    .treatment-container {
        display: flex;
        .treatment-info {
            margin-right: 40px;
        }
        .treat-edit {
            flex-grow: 1;
        }
    }
    .vacc-container {
        display: flex;
        .vacc-info {
            margin-right: 80px;
        }
        .vacc-edit {
            flex-grow: 1;
        }
    }
}

.button.edit {
    padding: 0.4rem 0.5rem;
    margin: 0px;
}

h4 {
    border-bottom: 1px solid #ececec;
    display: inline-block;
    margin-top: 25px;
}

h5 {
    .button.edit {
        margin-left: 15px;
    }
}

.table td {
    max-width: 160px;
}