.header-bar {
    background: #263248;
    height: 65px;
    .menu-link {
        color: #FFF;
        font-family: "Roboto";
        text-decoration: none;
        padding: 5px 10px;
        margin-left: 15px;
        cursor: pointer;
        font-weight: 400;
        border: 2px solid #D0DDE9;
        border-radius: 20px;
    }
    button {
        font-family: "Roboto";
        margin-left: auto;
    }
}
.header-bar_left {
    align-items: center;
    img {
        width: 60px;
        height: 60px;
    }
    span {
        font-family: "Roboto";
        color: #FFF;
        font-weight: 200;
        margin-right: 20px;
        strong {
            font-weight: 300;
            color: #50cfef;
        }
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F1F1F1;
    a {
        font-family: 'Roboto';
        margin: 0px 15px;
        text-decoration: none;
        font-size: 0.85rem;
        &:hover {
            color: #536a7c;
            transition: color 0.3s;
        }
    }
    p {
        font-size: 0.75rem;
    }
}

.container{
    width: 85%;
    padding-top: 80px;
    box-sizing: border-box;
}

