<div class="docs">
  <header class="header-bar">
    <div class="header-bar_left">
      <a routerLink="/"><img src="./assets/img/logo.svg" /></a>
      <a routerLink="/adoption">
        <span class="subtitle"><strong>Shelter</strong> Adoption</span>
      </a>
    </div>
    <!-- <a routerLink="/home" routerLinkActive="active" class="menu-link">Strona główna</a> -->
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>Jesteś użytkownikiem?</p><a routerLink="/manage/home" routerLinkActive="active" class="menu-link">Zaloguj</a>
</div>