form {
    display: flex;
    flex-flow: column;
    button {
        width: 150px;
    }
    button:disabled {
        background-color: #77c7d3;
        border-color: #77c7d3;
        cursor: not-allowed;
    }
    input {
        width: 300px;
        height: 20px;
    }
    .input-cont {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
}

.alert-box.success, .alert-box.error, .alert-box.warn {
    margin-left: 30px;
    width: 200px;
}