<div>
  <div class="container">
    <h1>Dodaj nowego użytkownika</h1>
    <div *ngIf="isSuccess" class="alert-box success">Poprawnie dodano użytkownika! Chcesz dodać następnego?</div>
    <div *ngIf="!isSuccess && wasSend" class="alert-box error">Nie udało się dodać użytkownika :c</div>
    <div *ngIf="!isSuccess && duplicateUser" class="alert-box error">Użytkownik o takiej nazwie już istnieje</div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form">

      <label >Login</label>
      <div class="input-cont">
        <div class="form-input">
          <input #user_name="ngModel" type="text" ngModel name="user_name" required>
          <label></label>
        </div>
        <div *ngIf="user_name.invalid && registerForm.touched" class="alert-box warn">Wymagane pole</div>
      </div>

      <label>Hasło</label>
      <div class="input-cont">
        <div class="form-input">
          <input #password="ngModel" type="password" ngModel name="password" required>
          <label></label>
        </div>
        <div *ngIf="password.invalid && registerForm.touched && user_name.value" class="alert-box warn">Wymagane pole</div>
      </div>

      <label>Powtórz hasło</label>
      <div class="input-cont">
        <div class="form-input">
          <input #password2="ngModel" type="password" ngModel name="password2" required>
          <label></label>
        </div>
        <div [hidden]="password.value == password2.value || !password2.value" class="alert-box warn" >Hasła muszą pasować</div>
      </div>

      <button type="submit" [disabled]="disableSubmit || !registerForm.form.valid || password.value != password2.value && registerForm.touched" class="button info">Wyślij</button>
    </form>
  </div>
</div>