.animal-options {
    padding: 20px 0px 20px 20px;
    button {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        i {
            font-size: 1.3rem;
            &:before { margin-right: 10px; }
        }
    }
    .filter-options {
        .form {
            display: flex;
            align-items: center;
            .form-input{
                .search-input {
                    width: 300px;
                }
            }
            .list-cont {
                margin-left: 30px;
                & > label {
                    font-size: 0.9rem;
                    font-weight: 300;
                    margin-right: 8px;
                }
                select {
                }
            }
            .search-icon {
                padding: 0px 10px 0px 0px;
                font-size: 1.6rem;
                color: #99A8B4;
            }
        }
    }
}

.animals {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    .animal-tile {
        flex-basis: 25%;
        padding: 15px;
        box-sizing: border-box;
    }
}