<div class="animal-options">

  <button routerLink="add" class="button info"><i class="fa fa-plus" aria-hidden="true"></i>
    Dodaj zwierzę</button>

  <div class="filter-options">
    <div class="form">

      <i class="fa fa-search search-icon" aria-hidden="true"></i>
      <div class="form-input">
        <input placeholder="Znajdź imię, nr rejestru, nr tatuażu, microchip" class="search-input" #searchBox id="search-box" (keyup)="setSearchFilter(searchBox.value)" />
        <label></label>
      </div>

      <div class="list-cont">
          <label>Gatunek:</label>
          <div class="form-input">
            <select #species name="species" (change)="setSpeciesFilter($event.target.value)">
              <option value="all" selected>Wszystkie</option>
              <option value="dog">Pies</option>
              <option value="cat">Kot</option>
            </select>
            <label></label>
          </div>
        </div>

      <div class="list-cont">
        <label>Stan:</label>
        <div class="form-input">
          <select #state name="state" (change)="setStateFilter($event.target.value)">
            <option value="all" selected>Wszystkie</option>
            <option value="for_adopt">Do adopcji</option>
            <option value="adopted">Zaadoptowane</option>
            <option value="dead">Zmarły</option>
          </select>
          <label></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animals">
  <app-animal-tile *ngFor="let animal of animals" [animal] = animal class="animal-tile"></app-animal-tile>
</div>
