.animal-container {
    height: 100%;
    background:  radial-gradient(circle at 90% 10%, lighten(#F5F5F5,10), #F5F5F5);
    border-radius: 15px;
    padding: 10px 0px 15px 0px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 10px rgba(204, 209, 223, 0.35);
    border: 1px solid rgba(219, 222, 230, 0.25);
    &:hover {
        box-shadow: 2px 1px 10px rgba(204, 209, 223, 0.45);
        transition: 0.3s;
    }
    a {
        text-decoration: none;
        font-family: 'Roboto';
        color: rgba(0, 6, 22, 0.91);
        font-weight: 300;
    }
    .animal-header {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        h4 {
            color: #092836;
            padding-left: 10px;
            margin-bottom: 8px;
            font-weight: 200;
            font-size: 1.8rem;
        }
    }
    .animal-content {
        .photo {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            img {
                width: 80%;
                height: 80%;
            }
        }
        .info {
            font-size: 0.8rem;
            .info-row {
                display: flex;
                flex-flow: row;
                align-items: center;
                p {
                    margin-right: 8px;
                    font-weight: 500;
                    padding: 0px 0px 0px 20px;
                    color: rgba(85, 95, 117, 0.64);
                }
            }
        }
    }
}