<div class="animal-container">
  <a [routerLink]="['/manage/animals', shelterId, animal.animal_id]">
    <div class="animal-header">
      <h4 class="title">{{animal.name}}</h4>
    </div>
    <div class="animal-content">
      <div class="info">
          <div class="photo">
              <img attr.src="{{imgUrl}}"/>
            </div>
        <!-- <div class="info-row"><p>Typ: </p> {{animal.species | animalType}}</div>
        <div class="info-row"><p>Numer rejestru: </p> {{animal.registry_number}}</div>
        <div class="info-row"><p>Numer tatuażu: </p> {{animal.tatoo_id}}</div>
        <div class="info-row"><p>Microchip: </p> {{animal.microchip}}</div>
        <div class="info-row"><p>Stan: </p> {{animal.state | animalState}}</div>
        <div class="info-row"><p>Wiek: </p> {{animal.age}}</div>
        <div class="info-row"><p>Rozmiar: </p> {{animal.size==="small"? "Mały" : animal.size==="medium"? "Średni": "Duży"}}</div>
        <div class="info-row"><p>Płeć: </p> {{animal.gender==="m"? "Męska" : "Żeńska"}}</div>
        <div class="info-row"><p>Test FeLV: </p> {{animal. felv_test? "Pozytywny" : "Negatywny"}}</div>
        <div class="info-row"><p>Data przyjęcia: </p> {{animal.enter_date | date:'shortDate'}}</div>
        <div class="info-row"><p>Data opuszczenia: </p> {{animal.leave_date | date:'shortDate'}}</div>
        <div class="info-row"><p>Podczas kwarantanny? </p> {{animal.quarantine? "Tak" : "Nie"}}</div> -->

        <div class="info-row"><p>Typ: </p> {{animal.species | animalType}}</div>
        <div class="info-row"><p>Numer rejestru: </p> {{animal.registry_number}}</div>
        <div class="info-row"><p>Numer tatuażu: </p> {{animal.tatoo_id}}</div>
        <div class="info-row"><p>Microchip: </p> {{animal.microchip}}</div>
        <div class="info-row"><p>Stan: </p> {{animal.state | animalState}}</div>
      </div>
    </div>
  </a>
</div>
