<div *ngIf="animal" class="container">

  <h2>{{animal.name}}</h2>

  <div class="animal">

    <div class="img">
      <img attr.src="{{imgUrl}}" alt="">
    </div>

    <div class="animal-info">
    <p><strong>Gatunek: </strong> {{dict[animal.species]}}</p>
    <p><strong>Płeć: </strong> {{dict[animal.gender]}}</p>
    <p><strong>Rozmiar: </strong> {{dict[animal.size]}}</p>
    <p><strong>Wiek: </strong> {{animal.age}}</p>
    <p><strong>W schronisku od: </strong> {{animal.enter_date | date: 'shortDate'}}</p>
    <p *ngIf="animal.species==='cat'"><strong>Test FeLV: </strong>{{dict[animal.felv_test]}}</p>
    </div>

  </div>

  <div class="description">
    {{animal.description}}
  </div>

  <div class="shelter">
    <h4>Dane schroniska</h4>
    <h5>{{animal.name_full}}</h5>
    <p><strong>Miasto:  </strong> {{animal.city}}</p>
    <p><strong>Adres:  </strong> {{animal.address}} {{animal.zipcode}}</p>
    <p><strong>Telefon:  </strong> {{animal.phone}}</p>
  </div>

  <div class="message">
    <h4>Skontaktuj się ze schroniskiem</h4>
    <app-contact-form [animalId]="animalId" [shelterId]="animal.shelter_id"></app-contact-form>
  </div>

</div>