.container {
    padding-bottom: 35px;
}

.animal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .img {
        margin-right: 25px;
        img { width: 400px; }
    }
}

.description {
    margin-top: 30px;
    width: 70%;
}

.shelter {
    margin-top: 30px;
}

.message {
    margin-top: 30px;
}

h4 {
    display: inline-block;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 8px;
}