.card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    & > *:not(.img) {
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
    }
    
    .img {
      max-height: 225px; overflow: hidden;
      img { 
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
    }
    
    header {
      h1, h3 {
          padding-top: 0;
          padding-bottom: 0;
      }
      h1 {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
        font-weight: 600;
        margin-bottom: 5px;
      }
      h3 {
        font-size: 13px;
        line-height:  1.5;
        font-weight: 400;
        margin: 0;
        margin-top: -5px;
        color: #777;
      }
    }
    .content {
      // padding: 15px;
      font-size: 14px;
      color: #333;
    }
    footer {
        a {
            font-family: 'Roboto';
            text-decoration: none;
            font-size: 0.8rem;
        }
    }
    
  }