<div class="card">
    <div class="img">
        <a [routerLink]="['/adoption/animal', animal.animal_id]">
            <img attr.src="{{imgUrl}}" alt="">
        </a>
    </div>
    <header>
      <h1>{{animal.name}}</h1>
      <h3>Typ: {{dict[animal.species]}}</h3>
      <h3>Płeć: {{dict[animal.gender]}}</h3>
      <h3>Rozmiar: {{dict[animal.size]}}</h3>
    </header>
    <div class="content">
      {{animal.description}}
    </div>
    <footer>
        <a [routerLink]="['/adoption/animal', animal.animal_id]">Szczegóły</a>
    </footer>
  </div>