.notification-section {
    margin-bottom: 15px;
    a {
        text-decoration: none;
        font-family: "Roboto";
        font-size: 1rem;
    }
    ul {
        margin-left: 20px;
        list-style-type: circle;
        li {
            margin-bottom: 5px;
            span {
                margin-left: 5px;
            }
        }
    }
}