<div>
  <h1 *ngIf="user.user_role==='admin'">Witaj w panelu administratora!</h1>
  <h1 *ngIf="user.user_role==='user'" >Witaj w panelu użytkownika!</h1>

  <div class="notification-section">
    <h4>Przypomnienia o szczepieniach</h4>
    <div>
      <ul>
          <li *ngFor="let vacc of nextVacc">
            <a routerLink="/manage/animals/{{user.shelter_id}}/{{vacc.animal_id}}">
              Zwierzę o imieniu <strong>{{vacc.name}}</strong> powinno zostać zaszczepione szczepionką <strong>{{vacc.vacc_name}}</strong> w dniu <strong>{{vacc.next_vacc | date: 'shortDate' }}</strong>
            </a>
          </li>
      </ul>
    </div>
  </div>

  <div class="notification-section">
    <h4>Przypomnienia o leczeniu</h4>
    <div>
      <ul>
        <li *ngFor="let treat of nextTreat">
          <a routerLink="/manage/animals/{{user.shelter_id}}/{{treat.animal_id}}">
            Zwierzę o imieniu <strong>{{treat.name}}</strong> powinno przejść kontrolę w dniu <strong>{{treat.next_med | date: 'shortDate' }}</strong> w związku z chorobą <strong>{{treat.treat_name}}</strong>
          </a>
          </li>
      </ul>
    </div>
  </div>

  <div class="notification-section">
    <h4>Przypomnienia o uzupełnieniu danych</h4>
    <div>
      <ul>
        <li *ngFor="let info of missingInfo">
          <a routerLink="/manage/animals/{{user.shelter_id}}/{{info.id}}">
            Zwierzę o imieniu <strong>{{info.name}}</strong> nie ma uzupełnionych następujących informacji:
            <span *ngFor="let miss of info.missing; let i = index;">{{this.missingInfoVals[miss]}}{{i+1===info.missing.length? ".":","}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
