<form #treatmentForm="ngForm" (ngSubmit)="onSubmit(treatmentForm)" class="form">
    
      <div class="input-cont container">
        <div class="row vert-center">
          <label class="col-4">Nazwa choroby</label>
          <div class="form-input col-2">
            <input #treat_name="ngModel" type="text" ngModel name="treat_name" required>
            <label></label>
          </div>
        </div>
      </div>
    
      <div class="input-cont container">
        <div class="row vert-center">
          <label class="col-4">Data leczenia</label>
          <div class="form-input col-2">
            <input #treatment_date="ngModel" type="date" ngModel name="treatment_date" id="treatment_datee">
            <label></label>
          </div>
        </div>
      </div>
    
      <div class="input-cont">
        <div class="row vert-center">
          <label class="col-4">Nazwa leku</label>
          <div class="form-input col-2">
            <input #medicine="ngModel" ngModel name="medicine" id="medicine">
            <label></label>
          </div>
        </div>
      </div>

      <div class="input-cont">
        <div class="row vert-center">
          <label class="col-4">Następna kontrola</label>
          <div class="form-input col-2">
            <input #next_med="ngModel" type="date" ngModel name="next_med" id="next_med">
            <label></label>
          </div>
        </div>
      </div>

      <div class="input-cont">
        <div class="row vert-center">
          <label class="col-4">Nadal jest podczas leczenia?</label>
          <div class="form-input col-2">
            <div class="form-input">
                <input #is_treated="ngModel" type="radio" id="is_treated_true" ngModel name="is_treated" value=true> 
                <label for="quarantine_true">Tak</label>
              </div>
              <div class="form-input">
                <input #is_treated="ngModel" type="radio" id="is_treated_false" ngModel name="is_treated" value=false> 
                <label for="is_treated_false">Nie </label>
              </div>
          </div>
        </div>
      </div>
    
      <button [disabled]="disableSubmit || (!treatmentForm.form.valid && treatmentForm.touched) || !treatmentForm.touched" type="submit" class="button info">Zapisz</button>
    </form>