<div class="docs">
  <header class="header-bar">
    <div class="header-bar_left">
      <a routerLink="/"><img src="./assets/img/logo.svg" /></a>
      <a routerLink="/manage/home">
        <span class="subtitle"><strong>Shelter</strong> Management</span>
      </a>
    </div>
    <a routerLink="/manage/home" routerLinkActive="active" class="menu-link">Strona główna</a>
    <a routerLink="/manage/animals" routerLinkActive="active" class="menu-link">Zwierzęta</a>
    <a routerLink="/manage/messages" routerLinkActive="active" class="menu-link">Wiadomości</a>
    <a *ngIf="isAdmin" routerLink="/manage/user-add" routerLinkActive="active" class="menu-link">Dodaj użytkownika</a>
    <a *ngIf="isAdmin" routerLink="/manage/shelter-info" routerLinkActive="active" class="menu-link">Twoje schronisko</a>
    <button (click)="logout()" class="button" >Wyloguj</button>
  </header>
</div>