<div *ngIf="shelter" class="container">
  <h1>Dane schroniska</h1>
  <p>Wpisz tylko te dane które chcesz edytować</p>

  <form #shelterForm="ngForm" (ngSubmit)="onSubmit(shelterForm)" class="form">

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Krótka nazwa</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.name_short}}" #name_short="ngModel" type="text" ngModel name="name_short" >
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Długa nazwa</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.name_full}}" #name_full="ngModel" type="text" ngModel name="name_full" >
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Miasto</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.city}}" #city="ngModel" type="text" ngModel name="city" >
          <label></label>
        </div>
      </div>
    </div>

    <!-- <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Województwo</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.province}}" #province="ngModel" type="text" ngModel name="province" >
          <label></label>
        </div>
      </div>
    </div> -->

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Województwo</label>
        <div class="form-input col-3">
          <select *ngIf="provinces" #province="ngModel" ngModel name="province">
            <option *ngFor="let prov of provinces" attr.value="{{prov.province_id}}">{{prov.province_name}}</option>
          </select>
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Adres</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.address}}" #address="ngModel" type="text" ngModel name="address" >
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Kod pocztowy</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.zipcode}}" #zipcode="ngModel" type="text" ngModel name="zipcode" >
          <label></label>
        </div>
      </div>
    </div>

    <div class="input-cont">
      <div class="row vert-center">
        <label class="col-3">Telefon</label>
        <div class="form-input col-3">
          <input attr.placeholder="{{shelter.phone}}" #phone="ngModel" type="text" ngModel name="phone" >
          <label></label>
        </div>
      </div>
    </div>

    <div *ngIf="isSuccess" class="alert-box success">Poprawnie zedytowano dane</div>
    <div *ngIf="!isSuccess && wasSend" class="alert-box error">Nie udało się zedytować danych</div>
    
    <button type="submit" [disabled]="(!shelterForm.form.valid && shelterForm.touched) || !shelterForm.touched || disableSubmit" class="button info">Wyślij</button>
  </form>

</div>
