<form #vaccinationForm="ngForm" (ngSubmit)="onSubmit(vaccinationForm)" class="form">

  <div class="input-cont container">
    <div class="row vert-center">
      <label class="col-2">Nazwa szczepionki</label>
      <div class="form-input col-2">
        <input #vacc_name="ngModel" type="text" ngModel name="vacc_name" required>
        <label></label>
      </div>
    </div>
  </div>

  <div class="input-cont container">
    <div class="row vert-center">
      <label class="col-2">Data szczepienia</label>
      <div class="form-input col-2">
        <input #vacc_date="ngModel" type="date" ngModel name="vacc_date" id="vacc_date">
        <label></label>
      </div>
    </div>
  </div>

  <div class="input-cont">
    <div class="row vert-center">
      <label class="col-2">Następne szczepienie</label>
      <div class="form-input col-2">
        <input #next_vacc="ngModel" type="date" ngModel name="next_vacc" id="next_vacc">
        <label></label>
      </div>
    </div>
  </div>

  <button [disabled]="disableSubmit || (!vaccinationForm.form.valid && vaccinationForm.touched) || !vaccinationForm.touched " type="submit" class="button info">Zapisz</button>
</form>
