.animals-container {
    h2 {
        margin-bottom: 10px;
    }
    .filters {
        display: flex;
        margin: 20px 0px;
        .list-cont {
            margin-right: 20px;
            margin-top: 20px;
        }
    }
    .filters-ext {
        display: flex;
        margin: 20px 0px;
        .list-cont {
            margin-right: 20px;
            margin-top: 20px;
        }
    }
    .animals-list {
        padding-bottom: 30px;
        .list {
            display: flex;
            flex-flow: row wrap;
            .tile {
                padding: 20px 15px;
            }
        }
    }
}