<div class="animals-container">
  <h2>Znajdź zwierzę dla siebie!</h2>
  <h5>Wybierz rodzaj zwierzęcia oraz województwo</h5>
  
  <div class="filters form">

    <div class="list-cont">
        <label>Województwo:</label>
        <div class="form-input">
          <select #province name="province" (change)="setProvinceFilter($event.target.value)">
            <option value="all" selected>Wszystkie</option>
            <option *ngFor="let prov of provinces" attr.value="{{prov.province_id}}">{{prov.province_name}}</option>
          </select>
          <label></label>
        </div>
      </div>

    <div class="list-cont">
      <label>Gatunek:</label>
      <div class="form-input">
        <select #species name="species" (change)="setSpeciesFilter($event.target.value)">
          <option value="all" selected>Wszystkie</option>
          <option value="dog">Pies</option>
          <option value="cat">Kot</option>
        </select>
        <label></label>
      </div>
    </div>

    <button class="button info" (click)="getAnimals()">Wybierz</button>
  </div>

  <div *ngIf="noData" class="alert-box warn">Brak wyników</div>

  <div *ngIf="animals" class="animals-list">

    <div class="filters-ext form">

      <div class="list-cont">
        <label>Rozmiar:</label>
        <div class="form-input">
          <select #size name="size" (change)="setSize($event.target.value)">
            <option value="all" selected>Wszystkie</option>
            <option value="small">Mały</option>
            <option value="medium">Średni</option>
            <option value="big">Duży</option>
          </select>
          <label></label>
        </div>
      </div>

      <div class="list-cont">
        <label>Płeć:</label>
        <div class="form-input">
          <select #gender name="gender" (change)="setGender($event.target.value)">
            <option value="all" selected>Wszystkie</option>
            <option value="m">Męska</option>
            <option value="f">Żeńska</option>
          </select>
          <label></label>
        </div>
      </div>
      
    </div>
    <div class="list">
      <app-adoption-animal-tile *ngFor="let animal of animals" [animal]="animal" class="tile"></app-adoption-animal-tile>
    </div>
  </div>

</div>